#root {
  background-color: #58922f;
  min-height: 100vh;
  padding-bottom: 40px;
}

#root.backImg {
  background-image: url('./img/football-161132_1280.png');
  background-repeat: no-repeat;
  background-position-x: -800px;
  background-position-y: 100px;
  background-attachment: fixed;
}

h1, h2, h3 {
  color: whitesmoke;
}

.progress {
  margin-top: 5px;
  padding-left: 0 !important;
}

.inline {
  display: inline !important;
  margin-right: 10px !important;
}

.nav-item.a {
  text-decoration: none;
  cursor: pointer;
}


.flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.flex span {
  font-size: 85%;
}

.flex span:last-child {
  text-align: right;
}

.progress-bar {
  background-color: #007C01 !important;
}

.player-contact {
  font-size: 10px;
  font-style: italic;
  margin-left: 10px;
}

.player-contact > * {
  margin-right: 6px
}

.player-name {
  border-bottom: 1px solid lightgray;
  padding: 6px;
}

.brand-logo {
  font-size: 25px;
  font-weight: 700;
}

.manager-info > * {
  margin-left: 7px;
  margin-bottom: 0px;
}

.manager-card {
  background-color: #6eb63b;
  border-radius: 4px;
  box-shadow: 3px 2px 9px #aaaaa3;
  padding: 1rem;
}

.visit-card {
  background-color: #9eb7ec;
  border-radius: 4px;
  box-shadow: 3px 2px 9px #aaaaa3;
}

.modal-content {
  background-color: #b5d99c !important;
}
.stats {
  margin: 5px 0;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid lightgray;
  font-weight: 600;
}

.card {
  padding: 15px 20px 15px 5px;
}

label {
  margin: 5px 0;
  font-weight: 700;
}

.comment {
  margin: 15px 2px;
}

.padd {
  padding: 20px;
}

#comment {
  width: 95%;
  margin: auto;
}

.visit-player {
  border-radius: 20px;
  background-color: darkgreen;
}

.home-player {
  padding: 10px;
}

.footer {
  background-color: #8a25e2;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: rgb(214, 213, 213);
  margin-top: 10px;
}

html {
  position: relative;
  min-height: 100%;
}

.login-form {
  margin-bottom: 5px;
}

.menu > li {
  display: inline-block;
  margin-right: 10px;
}

.menu > li:last-child {
  margin-right: 0;
}

.btn-color {
  margin-top: 10px;
  background-color: #8a25e2;
  border-radius: 5px;
  color: white;
  padding: 8px;
  width: 100%;
  text-align: center;
  display: block;
  max-width: 150px;
  margin: 8px auto;
}

.form-div {
  padding: 20px;
  width: 300px;
  border-radius: 20px;
  background-color: #b5d99c;
}

.lightblue {
  background-color: lightblue !important;
}

.red {
  border: 2px solid red !important;
  /* background-color: red !important; */
}

.text-dec {
  text-decoration: none;
}

a {
  text-decoration: none !important;
  color: white !important;
}

.office {
  color: white;
  list-style-type: none;
  margin-left: 60px;
  padding: 0;
}

.select-player {
  color: white;
  margin-bottom: 2rem;
}

@media (min-width: 480px) {
  .office {
    display: none !important;
  }
}

@media (max-width: 480px) {
  .form-div.container {
    width: 80% !important;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 600px !important;
  }
}

select.form-control{
  width: 80%;
  margin: 0 auto;
}

.hidden {
  visibility: hidden;
}

.disabled {
  cursor: default !important;
  pointer-events: none;
  background-color: #dfdfdf;
  color: #9f9f9f;
}

button {
  cursor: pointer;
}

.flex .col-1, .flex .col-3, .flex .col-4, .flex .col-5 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.flex .btn {
  padding: 0 !important;
  border-radius: 30% !important;
}
